
x-environment: &DJANGO_VARS
  EMAIL_HOST: smtp4dev
  EMAIL_PORT: 25
  EMAIL_USE_TLS: "False"
  DEFAULT_FROM_EMAIL: noreply<no_reply@domain.com>
  CELERY_BROKER_URL: redis://redis:6379/0
  CELERY_RESULT_BACKEND: redis://redis:6379/0
  DJANGO_SETTINGS_MODULE: config.settings.development
  MINIO_STORAGE_ENDPOINT: http://localhost:9000
  MINIO_STORAGE_ACCESS_KEY: minio
  MINIO_STORAGE_SECRET_KEY: minio123
  EMAIL_VERIFICATION_URL: https://example.com
  PASSWORD_RESET_URL: http://example.com/password-reset

services:
  backend:
    image: mirsobhan/neshast-backend-stage:latest
    command: sh -c "make collectstatic && make run address=0.0.0.0:8000"
    volumes:
      - logs:/app/logs
    environment:
      *DJANGO_VARS
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_started
      smtp4dev:
        condition: service_started
      minio:
        condition: service_healthy
      mc:
        condition: service_completed_successfully
    networks:
      - neshast

  worker:
    image: mirsobhan/neshast-backend-stage:latest
    command: uv run celery -A config worker -l INFO
    environment:
      *DJANGO_VARS
    depends_on:
      redis:
        condition: service_started
      smtp4dev:
        condition: service_started
    networks:
      - neshast

  beat:
    image: mirsobhan/neshast-backend-stage:latest
    command: uv run celery -A config beat -l INFO
    environment:
      *DJANGO_VARS
    depends_on:
      redis:
        condition: service_started
      smtp4dev:
        condition: service_started
    networks:
      - neshast

  redis:
    image: redis:7.4.2-alpine
    ports:
      - "6379:6379"
    networks:
      - neshast

  smtp4dev:
    image: rnwood/smtp4dev:3.7.0-ci20250120116
    ports:
      - "5000:80"  # Web UI
      - "2525:25"
    networks:
      - neshast

  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 5s
    command: server /data --console-address ":9001"
    networks:
      - neshast

  mc:
    image: minio/mc:RELEASE.2025-03-12T17-29-24Z
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set myminio http://minio:9000 minio minio123) do echo 'waiting for minio'; sleep 3; done;
      /usr/bin/mc mb --ignore-existing myminio/static myminio/media;
      "
    networks:
      - neshast

volumes:
  logs:

networks:
  neshast:
    external:
      true
